<h3 class="text-xl pt-20">検索結果</h3>

<%= form_with(model: @book, url: admin_books_path) do |f| %>
  <div class="flex">
    <div>
      <div class="flex-col py-10 space-y-4 space-x-4">
          <%= f.label :タイトル%>
          <%= f.text_area :title, value: @result_book["title"], readonly: true, class: "border shadow rounded w-80 h-16 break-words" %>
          <%= f.hidden_field :isbn, value: @result_book["industryIdentifiers"][0]["identifier"], class: "border" %>
      </div>

      <% if @result_book["imageLinks"] && @result_book["imageLinks"]["thumbnail"] %>
        <%= f.hidden_field :image_url, value: @result_book["imageLinks"]["thumbnail"] %>
        
        <!-- 画像を表示する -->
        <div>
          <%= image_tag @result_book["imageLinks"]["thumbnail"], class: "mw-full mt-6 items-center justify-center" %>
        </div>
      <% end %>

      <% if Book.exists?(isbn: @result_book["industryIdentifiers"][0]["identifier"]) %>
        <!-- データベースにデータがある場合 -->
      <p class="w-full mt-6 text-white bg-gray-700 font-medium rounded-lg text-sm px-5 py-2.5 flex items-center justify-center">登録済み</p>

      <% else %>
        <!-- データベースにデータがない場合 -->
        <%= f.submit "本を登録する", class: "w-full mt-6 text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5" %>
      <% end %>
    </div>
  </div>
<% end %>
