<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-black">
    <thead class="text-xs text-black border-b uppercase bg-white">
      <tr>
        <th scope="col" class="px-6 py-3">
          ISBN
        </th>
        <th scope="col" class="px-6 py-3">
          タイトル
        </th>
        <th scope="col" class="px-6 py-3">
          著者
        </th>
        <th scope="col" class="px-6 py-3">
          アクション
        </th>
        <th scope="col" class="px-6 py-3">
        </th>
      </tr>
    </thead>
    <tbody>
      <% @request.each do |request| %>
        <tr class="bg-white border-b">
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            <%= request.isbn %>
            <%= hidden_field_tag "isbn", request.isbn %>
          </td>
          <td class="px-6 py-4">
            <%= request.title %>
          </td>
          <td class="px-6 py-4">
            <%= request.author %>
          </td>
          <td class="px-6 py-4">
            <%= link_to "Amazonサイト", "https://www.amazon.co.jp/dp/#{request.isbn}", method: :get, class: "inline-flex items-center px-2 py-1 font-medium text-center text-white rounded-lg text-sm #{request.status ? 'bg-gray-400' : 'bg-blue-700' }", target: :_blank, rel: "noopener noreferrer" %>
          </td>     
          <td class="px-6 py-4">
            <%= form_with model:request, url: {controller: 'admin/requests', action: 'update', id: request.id }, method: :patch do |f| %>
              <button type="submit" class="inline-flex items-center px-2 py-1 text-sm font-medium text-center text-white bg-yellow-500 border border-gray-300 rounded-lg">本を購入した</button> 
            <% end %>           
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
